
@mixin xsmall-screen {
  @media (max-width: 599px) { @content; }
}
@mixin small-screen {
  @media (min-width: 600px) { @content; }
}
@mixin medium-screen {
  @media (min-width: 900px) { @content; }
}
@mixin large-screen {
  @media (min-width: 1200px) { @content; }
}
@mixin xlarge-screen {
  @media (min-width: 1800px) { @content; }
}

.noise-image {
  margin: 0 0 -4.4rem;
  //object-fit: cover;
  display: block;
  animation: noisy .5s linear;
  animation-iteration-count: infinite;
  overflow: hidden;
}

@keyframes noisy {
  0% {
    transform: translate(-.01%, -.05%);
  }
  20% {
    transform: translate(0%, 0%);
  }
  40% {
    transform: translate(-.02%, .05%);
  }
  60% {
    transform: translate(-.01%, -.075%);
  }
  80% {
    transform: translate(-.02%, .05%);
  }
  100% {
    transform: translate(-.01%, -.05%);
  }
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.displayBezel {
    position: relative;
    width: 24rem;
    height: 14.4rem;
    @include medium-screen {
      width: 50rem;
      height: 30rem;
    }
    @include large-screen {
      width: 68rem;
      height: 41rem;
    }
        
    border-color: #232323;
    border-style: solid;    
    
    border-right-width: 1rem;
    border-left-width: 1rem;
    border-top-width: 1rem;
    border-bottom-width: 2rem;
    
    @include medium-screen {
      border-right-width: 2rem;
      border-left-width: 2rem;
      border-top-width: 2rem;
      border-bottom-width: 4rem;  
    }

    text-align: center;
    text-indent: .1em;
  }

  .displayContent {
    display: flex;
    width: 22rem;
    height: 12rem; 
    @include medium-screen {
      width: 46rem;
      height: 24rem;
    }

    @include large-screen {
      width: 64rem;
      height: 35rem;        
    }    
    padding-bottom: 4.4rem;
    z-index: -1;

  }

  .displayStand {
    align-content: center;
    position: relative;  
    margin: -2rem;
    border-style: solid;
    
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    height: 0;
    border-bottom: 8rem solid #232323;
    width: 15rem;

    @include medium-screen {
      border-bottom: 10rem solid #232323;
      width: 20rem;
    }
    z-index: -1;
  }

  .displayNames {
    margin-top: .5rem;
    display: block;
  }

  .displayBezel__names {
    color: white;
    text-decoration: none;
    font-family: Pacifico;
    font-weight: 100;
    font-size: 1.4rem;
    @include medium-screen {
      font-size: 2rem;
    }
    z-index: inherit;
  }

    


  
