.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.displayBezel {
    position: relative;
    width: 75rem;
    height: 45rem;    
    border-color: black;
    border-style: solid;    
    border-radius: 80% / 5%; 
    border-right-width: 2rem;
    border-left-width: 2rem;
    border-top-width: 2rem;
    border-bottom-width: 4rem;
    text-align: center;
    text-indent: .1em;
    background-color: gray;
  }

  .displayStand {
    align-content: center;
    position: relative;  
    margin: -2rem;
    border-style: solid;
    border-bottom: 12rem solid black;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    height: 0;
    width: 25rem;
    z-index: -1;
  }

  .displayBezel__namesContainer {
    margin-top: 37rem;
  }

  .displayBezel__names {
    color: white;
    text-decoration: none;
    font-family: Pacifico;
    font-weight: 100;
    font-size: 2rem;
  }

    


  
